<%= form_for(user, :html => { :multipart => true}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="panel panel-default">
    <div class="panel-body">
    <!-- left side of modal -->
	    <div class="col-md-5">
	    		<br>
	    	  <%= f.label :first %>
	        <br>
	        <%= f.text_field :first %>
	        <br>
	        <%= f.label :last %>
	        <br>
	        <%= f.text_field :last %>
	        <br>
	        <%= f.label :email %>
	        <br>
	        <%= f.text_field :email %>
	    </div>
	    <!-- right side of modal -->
	    <div class="col-md-5 col-md-offset-1">
	    		<br>
	    	  <%= f.label :program %>
	        <br>
	        <%= f.select :program, [['Please Select a Program:', ''], ['ADI', 'ADI'], ['Back-End Web Development', 'Back-End Web Development'], ['Data Analytics','Data Analytics'], ['Data Science','Data Science'], ['Digital Marketing','Digital Marketing'], ['DSI','DSI'], ['Front-End Web Development','Front-End Web Development'], ['iOS Development','iOS Development'], ['JavaScript Development','JavaScript Development'], ['Product Management','Product Management'], ['PMI','PMI'], ['User Experience Design','User Experience Design'], ['UXDI','UXDI'], ['Visual Design','Visual Design'], ['WDI','WDI']] %>
	        <br>
	        <%= f.label :cohort %>
	        <br>
	        <%= f.number_field :cohort %>
	        <br>
	        <%= f.label :city %>
	        <br>
	        <%= f.text_field :city %> 
	        <br>
	        <%= f.label :state %>
	        <br>
	        <%= f.text_field :state %>
	    </div>

	    <div class="col-md-8">
	    		<br>
	    		<%= f.label :current_title %>
	        <br>
	        <%= f.text_area :current_title , class: "textBoxArea"%>
	    </div>
			<div class="col-md-8">
				<%= f.label "Profile Photo" %> <br />
				<%= f.file_field :image %>
			</div>
    </div>
    <div class="panel-footer">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
  <% end %>
    </div>