
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<p class="about_title">About GA Extend</p>
		<p class="about_text">As recent General Assembly grads, we want to create a space where we can <strong>collaborate with other alumni, share skills, sustain connections and grow our networks.</strong>  While GA provides post-program Outcomes support and alumni events, there was no central place for us to connect directly - until now. </p>

		<p class="about_text"> GA Extend promotes <strong>productive engagement</strong> - work with other alumni to develop and maximize your GA learning and broaden your skill set to give yourself a competitive advantage in job searching, interviews and networking.  It works!</p>

		<p class="about_text"> Whether you are a developer looking for a designer for your next app idea or a PM seeking to expand your alumni network, why not <strong>leverage and extend your GA experience</strong> here with us?</p>

		<p class="about_text">Check out the most recent alumni postings <a href="/">here!</a> </p>
	</div>
</div>

<div class="container centered devs">
	<div class="row"> 
		<div class="col-md-6 col-md-offset-3 container">
			<p class="about_title ">Developers:</p>
			<div class="col-md-6 about_profile">
				<%= image_tag("danny.jpg", size: "75x75", class: 'about_photo') %>
				<p class="about_title">Danny Chan</p>
				<div class="row links">
					<div class="col-xs-2 col-xs-offset-3">
						<a href="https://www.linkedin.com/in/chandanny516"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-2">
						<a href="https://github.com/chan-d"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-2">
						<a href="http://dannychan.info"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 about_profile">
				<%= image_tag("joe.jpg", size: "75x75", class: 'about_photo') %>
				<p class="about_title">Joe Roers</p>
				<div class="row links">
					<div class="col-xs-2 col-xs-offset-3">
						<a href="https://www.linkedin.com/in/joeroers"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-2">
						<a href="https://github.com/jroers"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="col-xs-2">
						<a href="http://joeroers.com"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container centered designer">
	<div class="col-md-6 col-md-offset-3">
		<p class="about_title ">Designer:</p>

		<div class="col-md-6 col-md-offset-3 about_profile">
			<%= image_tag("malcolm.jpg", size: "75x75", class: 'about_photo') %>
			<p class="about_title">Malcolm McCarry</p>
			<div class="row links">
				<div class="col-xs-12">
					<a href="https://www.linkedin.com/in/malcolmmccarry"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container centered product-managers">
	<p class="about_title">Product Managers:</p>
	<div class="col-md-10 col-md-offset-1 centered" >
		<div class="col-md-4">
			<%= image_tag("default.png", size: "75x75", class: 'about_photo') %>
			<p class="about_title">Miranda Ko</p>
			<div class="row links">
				<div class="col-xs-12">
					<a href="https://www.linkedin.com/in/mirandayko"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag("patricia.jpg", size: "75x75", class: 'about_photo') %>
			<p class="about_title">Patricia Montoya</p>
			<div class="row links">
				<div class="col-xs-12">
					<a href="https://www.linkedin.com/in/montoyapatricia"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<%= image_tag("sebastian.jpg", size: "75x75", class: 'about_photo') %>
			<p class="about_title">Sebastian Duran</p>
			<div class="row links">
				<div class="col-xs-12">
					<a href="https://www.linkedin.com/in/sebduran"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>