<div class="jumbotron"></div>

<div class='container buttons'> <div class="button_label">FILTER BY TAG:</div> 
	<div class='col-md-12 centered'>
		<%= link_to 'SKILL SHARE', '/', class:'btn btn-warning btn-filter btn-skill-share' %> 
		<%= link_to 'PROJECTS', '/', class:'btn btn-success btn-filter btn-project' %> 
		<%= link_to 'NETWORKING', '/', class:'btn btn-danger btn-filter btn-networking' %> 
		<%= link_to 'SHOW ALL', '/', class:'btn btn-secondary btn-filter btn-all' %> 
	</div>
</div>

<div class="container">
	<div class="row cards"> 
		<% @cards.each do |card| %>
			<div class="container col-md-4 col-sm-6 col-xs-12 <%= card.family %>">
				<div class="card <%= card.family %>">
					<h5 class="flag flag-<%= card.family %> pull-right">
						<% if card.family == "skill_share" %>
							SKILL SHARE
						<% else %>
							<%= card.family.upcase %>
						<% end %>
					</h5>
					<h5 class="title"><%= link_to "#{card.title.upcase}", {:controller => "cards", :action => "show", :id => card.id} %> </h5>
					<hr>
					<p class="location pull-right"><span class="glyphicon glyphicon-map-marker"></span> <%= card.user.city.upcase %>, <%= card.user.state.upcase %></p>
					<p class="name"><%= card.user.first.upcase %> <%= card.user.last.upcase %></p>
					<p class="current-position"><%= card.user.current_title %></p>
							<%= image_tag card.user.image.url(:thumb), class: "avatar-thumb" %>
				</div>
			</div>
		<% end %>
	</div>
</div>



