<jumbotron><img src="http://placehold.it/1275x150"> </jumbotron>

<div class='container buttons'>
	<div class='col-md-8 col-md-offset-2 centered'>
		<%= link_to 'NETWORKING', '/', class:'btn btn-danger btn-filter btn-networking' %> 
		<%= link_to 'PROJECT', '/', class:'btn btn-success btn-filter btn-project' %> 
		<%= link_to 'SKILL SHARE', '/', class:'btn btn-warning btn-filter btn-skill-share' %> 
		<%= link_to 'SHOW ALL', '/', class:'btn btn-info btn-filter btn-all' %> 
	</div>
</div>

<div class="continer">
	<div cass="row"> 
		<% @cards.each do |card| %>
			<div class="container col-md-4 col-sm-6 col-xs-12">
				<div class="card <%= card.family %>">
					<h5 class="flag flag-<%= card.family %> pull-right">
						<% if card.family == "skill_share" %>
							SKILL SHARE
						<% else %>
							<%= card.family.upcase %>
						<% end %>
					</h5>
					<h5 class="title"><%= card.title %></h5>
					<p><%= card.user.first %> <%= card.user.last %></p>
					<p><%= card.user.current_title %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
