<jumbotron><img src="http://placehold.it/1275x150"> </jumbotron>

<div class='container buttons'>
	<div class='col-md-12 centered'>
		<%= link_to 'NETWORKING', '/', class:'btn btn-danger btn-filter btn-networking' %> 
		<%= link_to 'PROJECT', '/', class:'btn btn-success btn-filter btn-project' %> 
		<%= link_to 'SKILL SHARE', '/', class:'btn btn-warning btn-filter btn-skill-share' %> 
		<%= link_to 'SHOW ALL', '/', class:'btn btn-secondary btn-filter btn-all' %> 
	</div>
</div>

<div class="container">
	<div class="row cards"> 
		<% @cards.each do |card| %>
			<div class="container col-md-4 col-sm-6 col-xs-12 <%= card.family %>">
				<div class="card <%= card.family %>">
					<h5 class="flag flag-<%= card.family %> pull-right">
						<% if card.family == "skill_share" %>
							SKILL SHARE
						<% else %>
							<%= card.family.upcase %>
						<% end %>
					</h5>
					<h5 class="title"><%= link_to "#{card.title.upcase}", {:controller => "cards", :action => "show", :id => card.id} %> </h5>
					<hr>
					<p class="location pull-right"><span class="glyphicon glyphicon-map-marker"></span> <%= card.user.city.upcase %>, <%= card.user.state.upcase %></p>
					<p class="name"><%= card.user.first.upcase %> <%= card.user.last.upcase %></p>
					<p class="current-position"><%= card.user.current_title %></p>
							<%= image_tag card.user.image.url(:thumb), class: "avatar-thumb" %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!-- show card modal html -->
<div class="modal fade" id='<%= "showCardModal" %>' role="dialog" aria-labelledby="showCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="showCardModalLabel">Show Card</h4>
      </div>
      <div class="modal-body">
        <%= render 'cards/showCard' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
