<%= form_for @card, :url => new_card_path, :html => {:method => :post } do |f| %>
    <% if @card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@card.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @card.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class="panel panel-default">
    <div class="panel-body">
        <%= f.label :family %>
        <br>
        <%= f.select :family, [['Project', 'project'], ['Skill Share', 'skill_share'], ['Networking','networking']] %>
        <br>
        <strong>Card Title:</strong> 
        <br>
        <%= f.text_field :title, placeholder: "Developer looking for UX Designer", class: "form-control" %>
        <strong>Card description:</strong>
        <br>
        <%= f.text_area :working_on, placeholder: "Need wireframes", class: "form-control" %>
        <%= f.hidden_field :user_id, value: current_user.id%>
    </div>
    <div class="panel-footer">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
  <% end %>
    </div>