<div class="container">
	<div class="card <%= @card.family %>">
		<h5 class="flag flag-<%= @card.family %> pull-right">
			<% if @card.family == "skill_share" %>
				SKILL SHARE
			<% else %>
				<%= @card.family.upcase %>
			<% end %>
		</h5>
		<h5 class="title"><%= @card.title.upcase %> </h5>
		<hr>
		<p class="location pull-right"><span class="glyphicon glyphicon-map-marker"></span> <%= @card.user.city.upcase %>, <%= @card.user.state.upcase %></p>
		<p class="name"><%= @card.user.first.upcase %> <%= @card.user.last.upcase %></p>
		<p class="current-position"> <%= @card.user.current_title %></p>
		<hr>
		<br>
		<p class="working_on"><strong>Description: </strong> <%= @card.working_on %> </p>
	</div>
	<div class="profile-time">Created <%= time_ago_in_words(card.created_at).gsub('about','') %> ago</div>
</div>